<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>隐私声明及使用条款</string>
		</array>
		<array>
			<string>注册及登录说明</string>
			<string>物品出售及购买规则</string>
			<string>钱包说明及提现规则</string>
			<string>好友关系说明</string>
		</array>
	</array>
	<key>Category</key>
	<array>
		<dict>
			<key>title</key>
			<string>电子产品</string>
			<key>val</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>婴幼儿产品</string>
			<key>val</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>成人衣鞋帽</string>
			<key>val</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>饰品、包包等</string>
			<key>val</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>女性专用品(卫生巾、化妆品等)</string>
			<key>val</key>
			<string>5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>书籍、游戏</string>
			<key>val</key>
			<string>6</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生活日用品</string>
			<key>val</key>
			<string>7</string>
		</dict>
		<dict>
			<key>title</key>
			<string>其他</string>
			<key>val</key>
			<string>999</string>
		</dict>
	</array>
</dict>
</plist>
